@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: 0;
}

:root {
    --color-bg: #eee;
    --color-primary: seagreen;
}

body {
    background: var(--color-bg);
    font-family: 'Poppins', sans-serif;
}

.balloons {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.balloon {
    position: absolute;
    z-index: 10;
}

.balloon__img {
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.balloon__string {
    position: absolute;
    left: 51%;
    top: 70%;
    transform: translateX(-50%);
    z-index: 1;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 1rem;
}

main button {
    font-size: 4rem;
    padding: 1rem;
    color: var(--color-primary);
    cursor: pointer;
    background: none;
    transition: all 200ms ease;
}

main button:disabled {
    cursor: default;
    opacity: 0.5 !important;
}

.counter {
    background: var(--color-primary);
    border-radius: 2rem;
    display: grid;
    place-items: center;
    width: 10rem;
    aspect-ratio: 1/1;

    font-size: 5rem;
    font-weight: 800;
    color: var(--color-bg);
}

.counter > div {
    position: relative;
}

.next {
    animation: next 400ms ease-in-out forwards;
}

@keyframes next {
    0% {
        opacity: 0;
        bottom: -10rem;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: 0;
    }
}

.prev {
    animation: prev 400ms ease-in-out forwards;
}

@keyframes prev {
    0% {
        opacity: 0;
        top: -10rem;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

footer a {
    color: var(--color-primary);
    transition: all 400ms ease;
}

footer a:hover {
    letter-spacing: 2px;
}